nav {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(201, 197, 197);
    div{
        border-style: solid;
        border-width: 2px;
        border-color: rgb(201, 197, 197);
        float: right;
        margin-top: 20px;
        padding: 5px 5px;
    }
    
    h1{
        float: left;
    }
}

.container {
    h3 {
        width: fit-content;
    }
}

.search-position {
    display: inline-block;
    width: 100%;
    h3 {
        float: left;

    }

    input {
        float: right;
        margin-top: 2.5%;
        border-radius: 20%;
        border: 2px solid rgb(201, 197, 197);
        width: 30%;
    }
}

.candidate-container {
    width: 100%;
    margin: 0 0;
    text-align: center;
}

.candidate-card {
    border: 1px solid rgb(201, 197, 197);
    text-align: center;
    margin-top: 2% ;
}

.reports-header {
    margin-top: 5%;
    margin-bottom: 2%;
}

table {
    width: 100%;
    border: 1px grey solid;
    th {
        border: 1px solid grey;
        background-color: rgb(201, 197, 197);
    }
    tr{
        border: 1px solid grey;
    }
    td{
        border: 1px solid grey;
    }
}

.modal-icon{
    float: right;
}


